.machineBox {
  border: solid grey 5px;
  display: inline-block;
  margin: 20px;
  padding: 10px;
  text-align: center;

}

.machineStats  th, td {
  border-bottom: 1px solid #ddd;
  text-align: left;
  padding: 8px 5px;
  font-size: 14px;
}

/*.machineBoxNav li {
  float: right;
  border: solid black 1px;
  list-style-type: none;
  margin: 10px auto;
  display: inline-block;
}

.machineBoxNavContainer {
  vertical-align: bottom;
}*/

.buttonBox {
  background-color: inherit;
  border-radius: 50%;
  display: inline-block;
  width: 80px;
  height: 80px;
  padding: 10px;
  animation-duration: 2s;
  margin-bottom: 20px;
}
.showAlivePing {
  animation-name: alivePing;
}

.showDeadPing {
  animation-name: DeadPing;
}

.buttonVector {
  width: 100%;
  height: 100%;
}

@keyframes alivePing {
  from {background-color: blue;}
  to {background-color: white;}
}

@keyframes deadPing {
  from {background-color: blue;}
  to {background-color: white;}
}
